<div class="container">
  <div class="user-details">
    <h3> Портфолио </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="kitchen master" src="{{ "/assets/img/kitchen.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Kitchen Master </h5>
      <li>BEM, SASS, PUG</li>
      <p>PSD макет полученный с рассылки htmlacademy. При верстки было использованно: pug и sass. 
      Сборка была осуществленна с помощью gulp. 
      Сверстанно по методологии BEM. 
</p>
      <a class="project-link" href="#">Посмотреть</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="beetle" src="{{ "/assets/img/beetle.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Beetle </h5>
      <ul>
        <li>BEM, SASS, PUG</li>
      </ul>
      <p>PSD макет полученный с рассылки htmlacademy. При верстки было использованно: pug и sass. 
      Сборка была осуществленна с помощью gulp. 
      Сверстанно по методологии BEM.
      </p>
      <a class="project-link" href="#">Посмотреть</a>
    </div>
  </div>
</div>
