<div class="container">
  <div class="user-details">
    <h3> Портфолио </h3>
  </div>
  
  
  <div class="row user-projects">
    <div class="six columns">
      <h5>Бета-версия рекламного агенства</h5>
      <li>BEM, HTML, JS, WP</li>
      <p>Бета-версия сайта для рекламного агенства
</p>
      <a class="project-link" href="http://beta.omega.in.ua/" target="_blank">Посмотреть</a>
    </div>
     <div class="six columns images">
      <img alt="http://beta.omega.in.ua" src="{{ "/assets/img/cmsgroup.jpg" | prepend: site.baseurl }}" />
    </div>
  </div>
  
  
   <div class="row user-projects">
    <div class="six columns images">
      <img alt="designplusdecor.ru" src="{{ "/assets/img/designplusdecor.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Дизайн + Декор</h5>
      <li>BEM, HTML, JS</li>
      <p>Информационный сайт по декору дома.
</p>
      <a class="project-link" href="http://designplusdecor.ru/" target="_blank">Посмотреть</a>
    </div>
  </div>
  
  
   <div class="row user-projects">
    <div class="six columns">
      <h5>Section</h5>
      <li>BEM, SASS, JS, WP</li>
      <p>Новостной сайт Львова. Разработан на CMS WordPress
</p>
      <a class="project-link" href="http://section.in.ua/" target="_blank">Посмотреть</a>
    </div>
      <div class="six columns images">
      <img alt="section.in.ua" src="{{ "/assets/img/section.jpg" | prepend: site.baseurl }}" />
    </div>
  </div>
  
  
   <div class="row user-projects">
    <div class="six columns images">
      <img alt="archiva meetup" src="{{ "/assets/img/archiva.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Archiva Meetup </h5>
      <li>BEM, SASS, JS</li>
      <p>Небольшой лендинг с гибкой структурой для разных мероприятий.  
</p>
      <a class="project-link" href="http://achiva-meetup.com/" target="_blank">Посмотреть</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns">
      <h5> Kitchen Master </h5>
      <li>BEM, SASS, PUG</li>
      <p>PSD макет полученный с рассылки htmlacademy. При верстки было использованно: pug и sass. 
      Сборка была осуществленна с помощью gulp. 
      Сверстанно по методологии BEM. 
</p>
      <a class="project-link" href="/site/kitchen">Посмотреть</a>
    </div>
    <div class="six columns images">
      <img alt="kitchen master" src="{{ "/assets/img/kitchen.jpg" | prepend: site.baseurl }}" />
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="beetle" src="{{ "/assets/img/beetle.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Beetle </h5>
      <ul>
        <li>BEM, SASS, PUG</li>
      </ul>
      <p>PSD макет полученный с рассылки htmlacademy. При верстки было использованно: pug и sass. 
      Сборка была осуществленна с помощью gulp. 
      Сверстанно по методологии BEM.
      </p>
      <a class="project-link" href="/site/beetle">Посмотреть</a>
    </div>
  </div>
</div>
